[defaults]
; inventory=inventory.ini
# ask_vault_pass=True
; ansible_user=ec2-user  #commenting this for we use in group_vars folder using vault 
#password given in inventory file because it wont work here
ansible_user=ec2-user
ansible_password=DevOps321